<% layout("layout/boilerplate") %>

<body>
    <div class="row offset-2">
        <div class="col-8">
  <div class="container mt-4">
    <form action="/listings" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="listing[title]" class="form-control" placeholder="Enter title" required>
        <div class="invalid-feedback">Enter Title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="listing[description]" rows="4" class="form-control" placeholder="Enter description" required></textarea>
        <div class="invalid-feedback">Please enter a valid description</div>
      </div>
      
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" id="image" name="listing[image]" class="form-control" placeholder="Enter image link" required>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" id="price" name="listing[price]" class="form-control" placeholder="Enter price" required>
        <div class="invalid-feedback">Please enter a valid number</div>
        
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" id="location" name="listing[location]" class="form-control" placeholder="Enter location" required>
        <div class="invalid-feedback">Please enter location</div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" id="country" name="listing[country]" class="form-control" placeholder="Enter country" required>
        <div class="invalid-feedback">Please enter country name</div>
        
      </div>

      <button type="submit" class="btn btn-dark add-btn">Submit</button>

    </form>
  </div>
 </div>
</div>
</body>

